:root {
    --main-back-color:rgb(67,75,90);
    --font-color:#FFFFFF;
    --header-back-color:#272C37;
    --footer-button-color:#7C8390;
    --button-back-color:#5C6474;
    --other-box-color:#434954;
    --main-line-color:#FFFFFF;
    --other-line-color:#B3B3B3;
}



body{
	background-color: : var(--main-back-color);
	color: var(--font-color);
}

.navbar{
	background-color: var(--header-back-color);
	border-bottom-color: var(--header-back-color);
}
p{
	text-shadow: 1px;
}
input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--header-back-color);
    color: white;
    text-align: center;
}

.footer-button{
	width: 120px;
	border-radius: 8px;
	background-color: var(--footer-button-color);
	border-color: white;
	box-shadow: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 3px;
    padding-bottom: 3px;

    border-style: solid;
    border-width: thin;
}

.panel-heading{
	color: red;
	background-color: var(--button-back-color);
}

.panel{
	color: white;
	background-color: var(--button-back-color);


}

.box{
	margin: auto;
	text-align: center;
	border-radius: 8px;
	border-color: white;
	box-shadow: none;
    color: white;
    text-decoration: none;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: thin;

}
.clearfix{
	overflow: auto;
}
select{
	background-color: var(--main-back-color);
}
.visualizeBut{
	margin: auto;
	margin-top: 10%;
	text-align: center;
	font-weight: bolder;
	font-size: 150%;
	letter-spacing: 2px;
	border-radius: 8px;
	border-color: white;
	box-shadow: none;
    color: black;
    text-decoration: none;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: solid;
    background-color: #738390;
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  border: solid;
  border-radius: 8px;
  border-color: white;
  border-style: solid;
  border-width: thin;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: var(--button-back-color);
  border: transparent;
  border-radius: 8px;
  border-color: white;
  border-style: solid;
  border-width: thick;
  
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: absolute;

  background-color: var(--button-back-color);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: solid;
  border-radius: 8px;
  border-color: white;
  border-style: solid;
  border-width: thin;
  border-top: transparent;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
